<a href="https://colab.research.google.com/github/chrisaris/c-class01/blob/main/cclass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Classification Project

Using Census Data to predict whether somoene makes over or under $50k/year

In [ ]:
!gdown -- 1-94yi0jgww0Zr2pLVTfgnt4bugAtKg6u #import dataset from google drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt



import os
for dirname, _, filenames in os.walk('content/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

Downloading...
From: https://drive.google.com/uc?id=1-94yi0jgww0Zr2pLVTfgnt4bugAtKg6u
To: /content/adult.csv
100% 4.10M/4.10M [00:00<00:00, 93.3MB/s]

In [ ]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
data = 'adult.csv'

df = pd.read_csv(data, encoding='latin-1')

#### Exploratory Data Analysis

In this section we comb through the data trying to get a better grasp of our dataset as well as filtering for any inconsistencies, unnecessary information or any empty parameters. We are also going to try and determine if there are any skews and look for indication of imbalances that could affect our efficacy during training

In [ ]:
df.shape

(32561, 15)

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df[df == '?'] = np.nan  #combing for any empty or invalid data

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       30725 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education.num   32561 non-null  int64
 5   marital.status  32561 non-null  object
 6   occupation      30718 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital.gain    32561 non-null  int64
 11  capital.loss    32561 non-null  int64
 12  hours.per.week  32561 non-null  int64
 13  native.country  31978 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,NaN,77053,HS-grad,9,Widowed,NaN,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,NaN,186061,Some-college,10,Widowed,NaN,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [ ]:
for col in ['workclass', 'occupation', 'native.country']:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
income            0
dtype: int64

In [ ]:
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,Private,77053,HS-grad,9,Widowed,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,Private,186061,Some-college,10,Widowed,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

##### Feature Analysis

In [ ]:
numerical = [var for var in df.columns if df[var].dtype!='O']
categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} numerical variables\n'.format(len(numerical)))
print('The numerical variables are:\n', numerical)
print('\n')
print('There are {} categorical variables\n'.format(len(categorical)))
print('The categorical variables are:\n', categorical)
print('\n')
print('This gives us a total of {} variables\n'.format(len(numerical) + len(categorical)))

There are 6 numerical variables

The numerical variables are:
 ['age', 'fnlwgt', 'education.num', 'capital.gain', 'capital.loss', 'hours.per.week']


There are 9 categorical variables

The categorical variables are:
 ['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race', 'sex', 'native.country', 'income']


This gives us a total of 15 variables

In [ ]:
df[numerical].head()

   age  fnlwgt  education.num  capital.gain  capital.loss  hours.per.week
0   90   77053              9             0          4356              40
1   82  132870              9             0          4356              18
2   66  186061             10             0          4356              40
3   54  140359              4             0          3900              40
4   41  264663             10             0          3900              40

In [ ]:
df[numerical].isnull().sum()

age               0
fnlwgt            0
education.num     0
capital.gain      0
capital.loss      0
hours.per.week    0
dtype: int64

In [ ]:
df[categorical].head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country,income
0,Private,HS-grad,Widowed,Prof-specialty,Not-in-family,White,Female,United-States,<=50K
1,Private,HS-grad,Widowed,Exec-managerial,Not-in-family,White,Female,United-States,<=50K
2,Private,Some-college,Widowed,Prof-specialty,Unmarried,Black,Female,United-States,<=50K
3,Private,7th-8th,Divorced,Machine-op-inspct,Unmarried,White,Female,United-States,<=50K
4,Private,Some-college,Separated,Prof-specialty,Own-child,White,Female,United-States,<=50K

In [ ]:
df[categorical].isnull().sum()

workclass         0
education         0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
native.country    0
income            0
dtype: int64

In [ ]:
for var in categorical:
    print(df[var].value_counts())

Private             24532
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: workclass, dtype: int64
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital.status, dtype: int64
Prof-specialty       5983
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: relationship, dtype: int64
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Male      21790
Female    10771
Name: sex, dtype: int64
United-States                 29753
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native.country, dtype: int64
<=50K    24720
>50K      7841
Name: income, dtype: int64

In [ ]:
for var in categorical:
    print(df[var].value_counts()/np.float(len(df)))

Private             0.753417
Self-emp-not-inc    0.078038
Local-gov           0.064279
State-gov           0.039864
Self-emp-inc        0.034274
Federal-gov         0.029483
Without-pay         0.000430
Never-worked        0.000215
Name: workclass, dtype: float64
HS-grad         0.322502
Some-college    0.223918
Bachelors       0.164461
Masters         0.052916
Assoc-voc       0.042443
11th            0.036086
Assoc-acdm      0.032769
10th            0.028654
7th-8th         0.019840
Prof-school     0.017690
9th             0.015786
12th            0.013298
Doctorate       0.012684
5th-6th         0.010227
1st-4th         0.005160
Preschool       0.001566
Name: education, dtype: float64
Married-civ-spouse       0.459937
Never-married            0.328092
Divorced                 0.136452
Separated                0.031479
Widowed                  0.030497
Married-spouse-absent    0.012837
Married-AF-spouse        0.000706
Name: marital.status, dtype: float64
Prof-specialty       0.183747
Craft-repair         0.125887
Exec-managerial      0.124873
Adm-clerical         0.115783
Sales                0.112097
Other-service        0.101195
Machine-op-inspct    0.061485
Transport-moving     0.049046
Handlers-cleaners    0.042075
Farming-fishing      0.030527
Tech-support         0.028500
Protective-serv      0.019932
Priv-house-serv      0.004576
Armed-Forces         0.000276
Name: occupation, dtype: float64
Husband           0.405178
Not-in-family     0.255060
Own-child         0.155646
Unmarried         0.105832
Wife              0.048156
Other-relative    0.030128
Name: relationship, dtype: float64
White                 0.854274
Black                 0.095943
Asian-Pac-Islander    0.031909
Amer-Indian-Eskimo    0.009551
Other                 0.008323
Name: race, dtype: float64
Male      0.669205
Female    0.330795
Name: sex, dtype: float64
United-States                 0.913762
Mexico                        0.019748
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
Greece                        0.000891
France                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Trinadad&Tobago               0.000584
Cambodia                      0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native.country, dtype: float64
<=50K    0.75919
>50K     0.24081
Name: income, dtype: float64

In [ ]:
for var in categorical:
    print(var, 'contains', len(df[var].unique()), 'labels')

workclass contains 8 labels
education contains 16 labels
marital.status contains 7 labels
occupation contains 14 labels
relationship contains 6 labels
race contains 5 labels
sex contains 2 labels
native.country contains 41 labels
income contains 2 labels

In [ ]:
X = df.drop(['income'], axis=1)

y = df['income']

In [ ]:
X.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,90,Private,77053,HS-grad,9,Widowed,Prof-specialty,Not-in-family,White,Female,0,4356,40,United-States
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States
2,66,Private,186061,Some-college,10,Widowed,Prof-specialty,Unmarried,Black,Female,0,4356,40,United-States
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
X_train.shape, X_test.shape

((22792, 14), (9769, 14))

In [ ]:
X_train.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
dtype: object

In [ ]:
X_train.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [ ]:
X_test.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [ ]:
categorical = [col for col in X_train.columns if X_train[col].dtypes == 'O']
X_train[categorical].head()

,workclass,education,marital.status,occupation,relationship,race,sex,native.country
32098,State-gov,Bachelors,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States
25206,Local-gov,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States
23491,Private,Some-college,Never-married,Exec-managerial,Not-in-family,White,Female,United-States
12367,Local-gov,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,United-States
7054,Federal-gov,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States

Encoding Data

In [ ]:
!pip install category_encoders
import category_encoders as ce

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: category_encoders in /usr/local/lib/python3.7/dist-packages (2.5.1.post0)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.21.6)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.3.5)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.12.2)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.7.3)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.0.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category_encoders) (2022.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.2.0)

In [ ]:
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital.status',
                            'occupation', 'relationship', 'race', 'sex', 'native.country'])

X_train = encoder.fit_transform(X_train)
X_test = encoder. transform(X_test)

In [ ]:
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native.country_32,native.country_33,native.country_34,native.country_35,native.country_36,native.country_37,native.country_38,native.country_39,native.country_40,native.country_41
32098,40,1,0,0,0,0,0,0,0,31627,...,0,0,0,0,0,0,0,0,0,0
25206,39,0,1,0,0,0,0,0,0,236391,...,0,0,0,0,0,0,0,0,0,0
23491,42,0,0,1,0,0,0,0,0,194710,...,0,0,0,0,0,0,0,0,0,0
12367,27,0,1,0,0,0,0,0,0,273929,...,0,0,0,0,0,0,0,0,0,0
7054,38,0,0,0,1,0,0,0,0,99527,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_train.shape

(22792, 105)

In [ ]:
X_test.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native.country_32,native.country_33,native.country_34,native.country_35,native.country_36,native.country_37,native.country_38,native.country_39,native.country_40,native.country_41
22278,56,0,0,1,0,0,0,0,0,274475,...,0,0,0,0,0,0,0,0,0,0
8950,19,0,0,1,0,0,0,0,0,237455,...,0,0,0,0,0,0,0,0,0,0
7838,23,0,0,1,0,0,0,0,0,125491,...,0,0,0,0,0,0,0,0,0,0
16505,37,0,0,0,1,0,0,0,0,48779,...,0,0,0,0,0,0,0,0,0,0
19140,49,0,0,1,0,0,0,0,0,423222,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_test.shape

(9769, 105)

In [ ]:
cols = X_train.columns

#### Predictive Models

##### Naive Bayes Model

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
X_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native.country_32,native.country_33,native.country_34,native.country_35,native.country_36,native.country_37,native.country_38,native.country_39,native.country_40,native.country_41
0,0.15,1.0,0.0,-1.0,0.0,0.0,0.0,0.0,0.0,-1.229248,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.10,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.483176,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.134601,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-0.50,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,0.797103,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.05,0.0,0.0,-1.0,1.0,0.0,0.0,0.0,0.0,-0.661406,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, y_train)

GaussianNB()

In [ ]:
y_pred = gnb.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
print('Model accuracy score: {:0.4f}'.format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.8031

In [ ]:
print('Training set score: {:.4f}'.format(gnb.score(X_train, y_train)))
print('Test set score: {:.4f}'.format(gnb.score(X_test, y_test)))

Training set score: 0.8009
Test set score: 0.8031

##### Logistic Regression Model

In [ ]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
X1_train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
32098,40,State-gov,31627,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,20,United-States
25206,39,Local-gov,236391,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States
23491,42,Private,194710,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
12367,27,Local-gov,273929,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States
7054,38,Federal-gov,99527,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States

In [ ]:
X1_train.shape

(22792, 14)

In [ ]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder

categorical = ['workclass', 'education', 'marital.status','occupation', 'relationship',
                'race', 'sex', 'native.country']

for feature in categorical:
    le  = preprocessing.LabelEncoder()
    X1_train[feature] = le.fit_transform(X1_train[feature])
    X1_test[feature] = le.transform(X1_test[feature])

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X1_train = pd.DataFrame(scaler.fit_transform(X1_train), columns= X.columns)
X1_test = pd.DataFrame(scaler.transform(X1_test), columns= X.columns)

In [ ]:
X1_train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,0.101484,2.600478,-1.494279,-0.332263,1.133894,-0.402341,-0.782234,2.214196,0.39298,-1.430470,-0.145189,-0.217407,-1.662414,0.262317
1,0.028248,-1.884720,0.438778,0.184396,-0.423425,-0.402341,-0.026696,-0.899410,0.39298,0.699071,-0.145189,-0.217407,-0.200753,0.262317
2,0.247956,-0.090641,0.045292,1.217715,-0.034095,0.926666,-0.782234,-0.276689,0.39298,-1.430470,-0.145189,-0.217407,-0.038346,0.262317
3,-0.850587,-1.884720,0.793152,0.184396,-0.423425,0.926666,-0.530388,0.968753,0.39298,0.699071,-0.145189,-0.217407,-0.038346,0.262317
4,-0.044989,-2.781760,-0.853275,0.442726,1.523223,-0.402341,-0.782234,-0.899410,0.39298,0.699071,-0.145189,-0.217407,-0.038346,0.262317

In [ ]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X1_train, y1_train)
y1_pred = logreg.predict(X1_test)
print('Model accuracy score: {:0.4f}'.format(accuracy_score(y1_test, y1_pred)))

Model accuracy score: 0.8217

In [ ]:
print('Training set score: {:.4f}'.format(logreg.score(X1_train, y1_train)))
print('Test set score: {:.4f}'.format(logreg.score(X1_test, y1_test)))

Training set score: 0.8263
Test set score: 0.8217

##### Multilayer Perceptron Model

In [ ]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [ ]:
X2_train.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
32098,40,State-gov,31627,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,20,United-States
25206,39,Local-gov,236391,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States
23491,42,Private,194710,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States
12367,27,Local-gov,273929,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,40,United-States
7054,38,Federal-gov,99527,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States

In [ ]:
X2_train.shape

(22792, 14)

In [ ]:
X2_train = encoder.fit_transform(X2_train)
X2_test = encoder.transform(X2_test)

In [ ]:
X2_train.head()

,age,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,fnlwgt,...,native.country_32,native.country_33,native.country_34,native.country_35,native.country_36,native.country_37,native.country_38,native.country_39,native.country_40,native.country_41
32098,40,1,0,0,0,0,0,0,0,31627,...,0,0,0,0,0,0,0,0,0,0
25206,39,0,1,0,0,0,0,0,0,236391,...,0,0,0,0,0,0,0,0,0,0
23491,42,0,0,1,0,0,0,0,0,194710,...,0,0,0,0,0,0,0,0,0,0
12367,27,0,1,0,0,0,0,0,0,273929,...,0,0,0,0,0,0,0,0,0,0
7054,38,0,0,0,1,0,0,0,0,99527,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X2_train.shape

(22792, 105)

In [ ]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(6), max_iter=300, alpha=0.0001, verbose=True)
mlp.fit(X2_train, y2_train)
y2_pred = mlp.predict(X2_test)
print('Model accuracy score: {:0.4f}'.format(accuracy_score(y2_test, y2_pred)))

Iteration 1, loss = 9.09485881
Iteration 2, loss = 8.25086579
Iteration 3, loss = 7.79634578
Iteration 4, loss = 7.96830133
Iteration 5, loss = 7.83423033
Iteration 6, loss = 8.90830973
Iteration 7, loss = 7.40571336
Iteration 8, loss = 8.76066592
Iteration 9, loss = 8.34546247
Iteration 10, loss = 9.14595225
Iteration 11, loss = 7.84596812
Iteration 12, loss = 6.59459250
Iteration 13, loss = 6.08605849
Iteration 14, loss = 6.10853722
Iteration 15, loss = 6.12746506
Iteration 16, loss = 6.00304368
Iteration 17, loss = 8.01085402
Iteration 18, loss = 8.71973958
Iteration 19, loss = 7.66997898
Iteration 20, loss = 9.17641253
Iteration 21, loss = 6.50505860
Iteration 22, loss = 7.27593280
Iteration 23, loss = 5.40459139
Iteration 24, loss = 5.77080112
Iteration 25, loss = 5.80544321
Iteration 26, loss = 6.58092401
Iteration 27, loss = 7.62253569
Iteration 28, loss = 6.03105670
Iteration 29, loss = 7.94764959
Iteration 30, loss = 6.96276412
Iteration 31, loss = 6.55126679
Iteration 32, loss = 6.75111599
Iteration 33, loss = 6.73439977
Iteration 34, loss = 6.82468729
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
Model accuracy score: 0.7969

In [ ]:
print('Training set score: {:.4f}'.format(mlp.score(X2_train, y2_train)))
print('Test set score: {:.4f}'.format(mlp.score(X2_test, y2_test)))

Training set score: 0.7964
Test set score: 0.7969

#### Model Comparison

##### Cross Validation

In [ ]:
from sklearn.model_selection import cross_val_score

mlp = MLPClassifier(hidden_layer_sizes=(6), max_iter=300, alpha=0.0001, verbose=False)

NBScore = cross_val_score(gnb, X_train, y_train, cv=10, scoring='accuracy')
LRScore = cross_val_score(logreg, X1_train, y1_train, cv=10, scoring='accuracy')
MLPScore = cross_val_score(mlp, X2_train, y2_train, cv=10, scoring='accuracy')

print('Average cross validation score for Naive Bayes model: {:.4f}'.format(NBScore.mean()))
print('Average cross validation score for Logistic Regression model: {:.4f}'.format(LRScore.mean()))
print('Average cross validation score for MLP model: {:.4f}'.format(MLPScore.mean()))

Average cross validation score for Naive Bayes model: 0.8000
Average cross validation score for Logistic Regression model: 0.8259
Average cross validation score for MLP model: 0.7721

##### Classification Reports

In [ ]:
from sklearn.metrics import classification_report

print('Classification report for Naive Bayes model:')
print(classification_report(y_test, y_pred))

print('Classification report for Logistic Regression model:')
print(classification_report(y1_test, y1_pred))

print('Classification report for MLP Model:')
print(classification_report(y2_test, y2_pred))

Classification report for Naive Bayes model:
              precision    recall  f1-score   support

       <=50K       0.93      0.80      0.86      7410
        >50K       0.56      0.80      0.66      2359

    accuracy                           0.80      9769
   macro avg       0.75      0.80      0.76      9769
weighted avg       0.84      0.80      0.81      9769

Classification report for Logistic Regression model:
              precision    recall  f1-score   support

       <=50K       0.84      0.94      0.89      7410
        >50K       0.71      0.44      0.54      2359

    accuracy                           0.82      9769
   macro avg       0.78      0.69      0.72      9769
weighted avg       0.81      0.82      0.81      9769

Classification report for MLP Model:
              precision    recall  f1-score   support

       <=50K       0.80      0.98      0.88      7410
        >50K       0.80      0.21      0.34      2359

    accuracy                           0.80      9769
   macro avg       0.80      0.60      0.61      9769
weighted avg       0.80      0.80      0.75      9769

##### Confusion Matrices

In [ ]:
from sklearn.metrics import confusion_matrix

GNBcm = confusion_matrix(y_test, y_pred)
LRcm = confusion_matrix(y1_test, y1_pred)
MLPcm = confusion_matrix(y2_test, y2_pred)

In [ ]:
print('Confusion matrix for Naive Bayes model: \n\n', GNBcm)
print('\nTrue Positives(TP) = ', GNBcm[0,0])
print('True Negatives(TN) = ', GNBcm[1,1])
print('\nFalse Positives(FP) = ', GNBcm[0,1])
print('False Negatives(FN) = ', GNBcm[1,0])

Confusion matrix for Naive Bayes model:

 [[5953 1457]
 [ 467 1892]]

True Positives(TP) =  5953
True Negatives(TN) =  1892

False Positives(FP) =  1457
False Negatives(FN) =  467

In [ ]:
print('Confusion matrix for Logistic Regression model: \n\n', GNBcm)
print('\nTrue Positives(TP) = ', LRcm[0,0])
print('True Negatives(TN) = ', LRcm[1,1])
print('\nFalse Positives(FP) = ', LRcm[0,1])
print('False Negatives(FN) = ', LRcm[1,0])

Confusion matrix for Logistic Regression model:

 [[5953 1457]
 [ 467 1892]]

True Positives(TP) =  6987
True Negatives(TN) =  1040

False Positives(FP) =  423
False Negatives(FN) =  1319

In [ ]:
print('Confusion matrix for Mulitlayer Perceptron model: \n\n', GNBcm)
print('\nTrue Positives(TP) = ', MLPcm[0,0])
print('True Negatives(TN) = ', MLPcm[1,1])
print('\nFalse Positives(FP) = ', MLPcm[0,1])
print('False Negatives(FN) = ', MLPcm[1,0])

Confusion matrix for Mulitlayer Perceptron model:

 [[5953 1457]
 [ 467 1892]]

True Positives(TP) =  7280
True Negatives(TN) =  505

False Positives(FP) =  130
False Negatives(FN) =  1854

In [ ]:
GNBprecision = GNBcm[0,0] / float(GNBcm[0,0] + GNBcm[0,1])
LRprecision = LRcm[0,0] / float(LRcm[0,0] + LRcm[0,1])
MLPprecision = MLPcm[0,0] / float(MLPcm[0,0] + MLPcm[0,1])

print('Precision score for Naive Bayes model: {:.4f}'.format(GNBprecision))
print('Precision score for Logistic Regression model: {:.4f}'.format(LRprecision))
print('Precision score for Multilayer Perceptron model: {:.4f}'.format(MLPprecision))

Precision score for Naive Bayes model: 0.8034
Precision score for Logistic Regression model: 0.9429
Precision score for Multilayer Perceptron model: 0.9825

In [ ]:
GNBrecall = GNBcm[0,0] / float(GNBcm[0,0] + GNBcm[1,0])
LRrecall = LRcm[0,0] / float(LRcm[0,0] + LRcm[1,0])
MLPrecall = MLPcm[0,0] / float(MLPcm[0,0] + MLPcm[1,0])

print('Recall score for Naive Bayes model: {:.4f}'.format(GNBrecall))
print('Recall score for Logistic Regression model: {:.4f}'.format(LRrecall))
print('Recall score for Multilayer Perceptron model: {:.4f}'.format(MLPrecall))

Recall score for Naive Bayes model: 0.9273
Recall score for Logistic Regression model: 0.8412
Recall score for Multilayer Perceptron model: 0.7970

#### Alternative Model Designs

To streamline the workflow, the *variations* of the above three models will be done using pipelines. I made this decision because we will be using the same data, which has already been pre-processed and so there is no need to repeat the steps.

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import MinMaxScaler

gnbpipeline1 = make_pipeline(MinMaxScaler(), GaussianNB())
gnbpipeline2 = make_pipeline(StandardScaler(), GaussianNB())
logregpipeline1 = make_pipeline(StandardScaler(), LogisticRegression(solver='liblinear', random_state=3))
logregpipeline2 = make_pipeline(StandardScaler(), LogisticRegression(solver='saga',penalty='elasticnet', l1_ratio=0.5))
mlppipeline1 = make_pipeline(StandardScaler(), MLPClassifier(hidden_layer_sizes=6, solver='lbfgs', alpha=0.0001))
mlppipeline2 = make_pipeline(StandardScaler(), MLPClassifier(hidden_layer_sizes=6, solver='sgd', learning_rate='adaptive', alpha=0.0001))

In [ ]:
gnb1score = cross_val_score(gnbpipeline1, X_train, y_train, scoring='accuracy', cv=10)
gnb2score = cross_val_score(gnbpipeline2, X_train, y_train, scoring='accuracy', cv=10)

print('Average cross validation score for pipeline1 Naive Bayes model: {:.7f}'.format(gnb1score.mean()))
print('Average cross validation score for pipeline2 Naive Bayes model: {:.7f}'.format(gnb2score.mean()))

Average cross validation score for pipeline1 Naive Bayes model: 0.5306686
Average cross validation score for pipeline2 Naive Bayes model: 0.4581425

In [ ]:
logreg1score = cross_val_score(logregpipeline1, X1_train, y1_train, scoring='accuracy', cv=10)
logreg2score = cross_val_score(logregpipeline2, X1_train, y1_train, scoring='accuracy', cv=10)

print('Average cross validation score for pipeline1 Logistic Regression model: {:.7f}'.format(logreg1score.mean()))
print('Average cross validation score for pipeline2 Logistic Regression model: {:.7f}'.format(logreg2score.mean()))

Average cross validation score for pipeline1 Logistic Regression model: 0.8259472
Average cross validation score for pipeline2 Logistic Regression model: 0.8258595

In [ ]:
mlp1score = cross_val_score(mlppipeline1, X2_train, y2_train, scoring='accuracy', cv=10)
mlp2score = cross_val_score(mlppipeline2, X2_train, y2_train, scoring='accuracy', cv=10)

print('Average cross validation score for pipeline1 Multilayer Perceptron model: {:.7f}'.format(mlp1score.mean()))
print('Average cross validation score for pipeline2 Multilayer Perceptron model: {:.7f}'.format(mlp2score.mean()))

Average cross validation score for pipeline1 Multilayer Perceptron model: 0.8516147
Average cross validation score for pipeline2 Multilayer Perceptron model: 0.8499036

We see from our cross validation scores we already get very interesting results. Below we will examine predictions and compare all the different variations to their respective counterparts

#### Alternative Model Designs: Naive Bayes Breakdown and Analysis

For the Naive Bayes model we use the same learning model, what differs is how we process the data before training.

In our *default* model we use the **RobustScaler**, this form of scaling is robust to outliers and is ideal because it incorporates the interquartile range rather than a predetermined interval. This should reduce the information loss while still maintaing a relatively decent scaling factor


In our *pipeline1* variation we use a **MinMaxScaler** that scales features to unit size, this has an advantage only when there are small deviations of features, from combing through our dataset we know that for the most part this isn't the case, especially with our fnlwgt category. There are many outliers and MinMax scaler is not the most suitable type of scaling because we want these outliers to have a reduced influence


In our *pipeline2* variation we use the **StandardScaler**, which results in unit variance. For our dataset this is not desirable because we are losing a lot of information. Census data is composed of varying outliers and the features do not vary on comparable scale

In [ ]:
gnbpipeline1.fit(X_train, y_train)
gnbpl1_pred = gnbpipeline1.predict(X_test)


gnbpipeline2.fit(X_train, y_train)
gnbpl2_pred = gnbpipeline2.predict(X_test)

In [ ]:
print('Naive Bayes pipeline1 training set score: {:.4f}'.format(gnbpipeline1.score(X_train, y_train)))
print('Naive Bayes pipeline1 test set score: {:.4f}\n'.format(gnbpipeline1.score(X_test, y_test)))

print('Naive Bayes pipeline2 training set score: {:.4f}'.format(gnbpipeline2.score(X_train, y_train)))
print('Naive Bayes pipeline2 test set score: {:.4f}'.format(gnbpipeline2.score(X_test, y_test)))

Naive Bayes pipeline1 training set score: 0.5374
Naive Bayes pipeline1 test set score: 0.5354

Naive Bayes pipeline2 training set score: 0.4771
Naive Bayes pipeline2 test set score: 0.4762

In [ ]:
gnbpl1_cm = confusion_matrix(y_test, gnbpl1_pred)
gnbpl2_cm = confusion_matrix(y_test, gnbpl2_pred)

print('Confusion matrix for Naive Bayes pipeline1: \n', gnbpl1_cm)
print('\nConfusion matrix for Naive Bayes pipeline2: \n', gnbpl2_cm)

Confusion matrix for Naive Bayes pipeline1:
 [[2970 4440]
 [  99 2260]]

Confusion matrix for Naive Bayes pipeline2:
 [[2359 5051]
 [  66 2293]]

In [ ]:
gnbpl1_precision = gnbpl1_cm[0,0] / float(gnbpl1_cm[0,0] + gnbpl1_cm[0,1])
gnbpl2_precision = gnbpl2_cm[0,0] / float(gnbpl2_cm[0,0] + gnbpl2_cm[0,1])

print('Precision score for Naive Bayes pipeline1: {:.4f}'.format(gnbpl1_precision))
print('Precision score for Naive Bayes pipeline2: {:.4f}'.format(gnbpl2_precision))

Precision score for Naive Bayes pipeline1: 0.4008
Precision score for Naive Bayes pipeline2: 0.3184

In [ ]:
gnbpl1_recall = gnbpl1_cm[0,0] / float(gnbpl1_cm[0,0] + gnbpl1_cm[1,0])
gnbpl2_recall = gnbpl2_cm[0,0] / float(gnbpl2_cm[0,0] + gnbpl2_cm[1,0])

print('Recall score for Naive Bayes pipeline1: {:.4f}'.format(gnbpl1_recall))
print('Recall score for Naive Bayes pipeline2: {:.4f}'.format(gnbpl2_recall))

Recall score for Naive Bayes pipeline1: 0.9677
Recall score for Naive Bayes pipeline2: 0.9728

Unsurprisingly both Naive Bayes pipeline models are not under/overfitted as seen from the training and test score results. The precision scores are low for both pipeline models when compared to the default model. To my surprise though the pipeline models are better at recall than the default model. I am not too sure as to why this is the case but I think it has to do with the scaling of our features, our models seem to oversample as a result and are good at reproducing the correct labels, however when given new data the pipeline models fail at properly attributing classification

#### Alternative Model Designs: Logistic Regression Breakdown and Analysis

For the Logistic Regression model we use different learning models, the data is processed the same but the learning algorithms and distribution of weights is what is changing across pipeline models when compared to the default model.

In our *default* model we use the *lbfgs* solver with the default l2 penalty that primarily works on the way our weights are distributed to avoid overfitting

In our *pipeline1* model we use the *liblinear* solver which works better for smaller datasets, the solver shuffles the data with a random state of 3

In our *pipeline2* model we use the *saga* solver which should be better and faster for larger datasets, this pipeline encorporates both l1 and l2 penalties

Both pipeline models have better cross validation scores, with *pipeline1* outperforming the other two models

In [ ]:
logregpipeline1.fit(X1_train, y1_train)
logregpl1_pred = logregpipeline1.predict(X1_test)

logregpipeline2.fit(X1_train, y1_train)
logregpl2_pred = logregpipeline1.predict(X1_test)

In [ ]:
print('Logistic Regression pipeline1 training set score: {:.4f}'.format(logregpipeline1.score(X1_train, y1_train)))
print('Logistic Regression pipeline1 test set score: {:.4f}\n'.format(logregpipeline1.score(X1_test, y1_test)))

print('Logistic Regression pipeline2 training set score: {:.4f}'.format(logregpipeline2.score(X1_train, y1_train)))
print('Logistic Regression pipeline2 test set score: {:.4f}'.format(logregpipeline2.score(X1_test, y1_test)))

Logistic Regression pipeline1 training set score: 0.8263
Logistic Regression pipeline1 test set score: 0.8218

Logistic Regression pipeline2 training set score: 0.8263
Logistic Regression pipeline2 test set score: 0.8217

In [ ]:
logregpl1_cm = confusion_matrix(y1_test, logregpl1_pred)
logregpl2_cm = confusion_matrix(y1_test, logregpl2_pred)

print('Confusion matrix for Logistic Regression pipeline1: \n', logregpl1_cm)
print('\nConfusion matrix for Logistic Regression pipeline2: \n', logregpl2_cm)

Confusion matrix for Logistic Regression pipeline1:
 [[6987  423]
 [1318 1041]]

Confusion matrix for Logistic Regression pipeline2:
 [[6987  423]
 [1318 1041]]

In [ ]:
logregpl1_precision = logregpl1_cm[0,0] / float(logregpl1_cm[0,0] + logregpl1_cm[0,1])
logregpl2_precision = logregpl2_cm[0,0] / float(logregpl2_cm[0,0] + logregpl2_cm[0,1])

print('Precision score for Logistic Regression pipeline1: {:.4f}'.format(logregpl1_precision))
print('Precision score for Logistic Regression pipeline2: {:.4f}'.format(logregpl2_precision))

Precision score for Logistic Regression pipeline1: 0.9429
Precision score for Logistic Regression pipeline2: 0.9429

In [ ]:
logregpl1_recall = logregpl1_cm[0,0] / float(logregpl1_cm[0,0] + logregpl1_cm[1,0])
logregpl2_recall = logregpl2_cm[0,0] / float(logregpl2_cm[0,0] + logregpl2_cm[1,0])

print('Recall score for Logistic Regression pipeline1: {:.4f}'.format(logregpl1_recall))
print('Recall score for Logistic Regression pipeline2: {:.4f}'.format(logregpl2_recall))

Recall score for Logistic Regression pipeline1: 0.8413
Recall score for Logistic Regression pipeline2: 0.8413

From training and test scores there seems to be no signs of under/overfitting in our models. They both have identical precision and recall scores which is no surprise. I do not know how the solvers work but according to the documentation there shouldn't be much difference other than in improved computational performance and since our dataset seems to be neither large or small there isn't one algorithm that has a favoured improvement.

Both pipeline variants have virtually identical performance on training scores; differing only marginally. In evaluating training set scores the differing results are pretty much negligible. In test set evaluations our pipeline models are identical. Compared to our *default* model  the performance on test and training data is of minimal variance (±0.0010). Our *default* model also has a lower precision score when compared to the pipeline models, but the pipeline models have a lower recall value. This significance could be attributed to the different algorithm, and how the l1 and l2 penalties are distributed. The results here were more inline with my inferences

#### Alternative Model Designs: Multilayer Perceptron Breakdown and Analysis

For the MLP model we use slighlty tweaked learning models, the data is processsed the same but the learning algorithms differ slightly because of the use of different solvers

In our *default* model we use **adam** which is a stochastic gradient-based optimizer, with an L2 regularization set at its default value and a constant learning rate


In our *pipeline1* model we use the **lbfgs** solver which has an added advantage on smaller datasets because it can converges faster, we use a constant learning rate for this implementation


In our *pipeline2* model we use the **sgd** solver which is a stochastic gradient descent algorithm with an adaptive learning rate

In [ ]:
mlppipeline1.fit(X2_train, y2_train)
mlppl1_pred = mlppipeline1.predict(X2_test)

mlppipeline2.fit(X2_train, y2_train)
mlppl2_pred = mlppipeline2.predict(X2_test)

In [ ]:
print('Multilayer Perceptron pipeline1 training set score: {:.4f}'.format(mlppipeline1.score(X2_train, y2_train)))
print('Multilayer Perceptron pipeline1 test set score: {:.4f}\n'.format(mlppipeline1.score(X2_test, y2_test)))

print('Multilayer Perceptron pipeline2 training set score: {:.4f}'.format(mlppipeline2.score(X2_train, y2_train)))
print('Multilayer Perceptron pipeline2 test set score: {:.4f}'.format(mlppipeline2.score(X2_test, y2_test)))

Multilayer Perceptron pipeline1 training set score: 0.8660
Multilayer Perceptron pipeline1 test set score: 0.8496

Multilayer Perceptron pipeline2 training set score: 0.8576
Multilayer Perceptron pipeline2 test set score: 0.8448

In [ ]:
mlppl1_cm = confusion_matrix(y2_test, mlppl1_pred)
mlppl2_cm = confusion_matrix(y2_test, mlppl2_pred)

print('Confusion matrix for Multilayer Perceptron pipeline1: \n', mlppl1_cm)
print('\nConfusion matrix for Multilayer Perceptron pipeline2: \n', mlppl2_cm)

Confusion matrix for Multilayer Perceptron pipeline1:
 [[6851  559]
 [ 910 1449]]

Confusion matrix for Multilayer Perceptron pipeline2:
 [[6853  557]
 [ 959 1400]]

In [ ]:
mlppl1_precision = mlppl1_cm[0,0] / float(mlppl1_cm[0,0] + mlppl1_cm[0,1])
mlppl2_precision = mlppl2_cm[0,0] / float(mlppl2_cm[0,0] + mlppl2_cm[0,1])

print('Precision score for Multilayer Perceptron pipeline1: {:.4f}'.format(mlppl1_precision))
print('Precision score for Multilayer Perceptron pipeline2: {:.4f}'.format(mlppl2_precision))

Precision score for Multilayer Perceptron pipeline1: 0.9246
Precision score for Multilayer Perceptron pipeline2: 0.9248

In [ ]:
mlppl1_recall = mlppl1_cm[0,0] / float(mlppl1_cm[0,0] + mlppl1_cm[1,0])
mlppl2_recall = mlppl2_cm[0,0] / float(mlppl2_cm[0,0] + mlppl2_cm[1,0])

print('Recall score for Multilayer Perceptron pipeline1: {:.4f}'.format(mlppl1_recall))
print('Recall score for Multilayer Perceptron pipeline2: {:.4f}'.format(mlppl2_recall))

Recall score for Multilayer Perceptron pipeline1: 0.8827
Recall score for Multilayer Perceptron pipeline2: 0.8772

The results from the MLP models seem congruent with the selected solver algorithms. *pipeline1* is our best performer in terms of train and test score comparisons, the **lbfgs** seems to have an added improvement because of our relatively smaller set, so it seems. Between the two pipeline models the **lbfgs** solver is better at working with the training data while they both seem to have a similar efficacy with test data.

Comparatively our *default* model has better precision and recall scores. I wonder if there would be a significant difference should there have been a change in hidden layers and how much each algorithm truly optimizes performance

#### Conclusion and Takeaways

From the emperical observations and the dataset that we were working with. Neural networks and logisitc regression are better at determining and predicting whether somoeone makes more or less than $50k from the given data.

Feature selection and preprocessing is much easier with the two compared to a Naive Bayes classifier. Regression models seem to win out if optimization and performance are key metrics but with time and better computing power a neural network solution yields better results because of the possibility of handling different weights to outliers. I believe that the best efficacy could come from a better trained neural network or logistic regression solver. Naive Bayes would have been a more robust set if the feature set had a more predictable distribution or if our data was skewed in some way.

#### Acknowledgements

The following Kaggle notebooks provided invaluable insight into my understanding and completion of the project:

https://www.kaggle.com/learn/intermediate-machine-learning
https://www.kaggle.com/code/parulpandey/deep-dive-into-logistic-regression-for-beginners/notebook


The following resources helped me with background knowledge and framing:

https://scikit-learn.org/stable/modules/preprocessing.html
https://towardsdatascience.com/all-about-feature-scaling-bcc0ad75cb35
https://towardsdatascience.com/an-overview-of-categorical-input-handling-for-neural-networks-c172ba552dee
https://stats.stackexchange.com/questions/181/how-to-choose-the-number-of-hidden-layers-and-nodes-in-a-feedforward-neural-netw


The following resources were used to obtain code snippets:

https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html
https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html